<div class="container-fluid" style="width: 205px; height: 205px;">
    <svg width="100" height="100" class="orange" appOrange xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10" />
    </svg>
    <svg width="100" height="100" class="green" appGreen xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10" />
    </svg>
    <svg width="100" height="100" class="blue" appBlue xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10" />
    </svg>
    <svg width="100" height="100" class="yellow" appYellow xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10" />
    </svg>
</div>