svg{
    background-color: #c2c2c2; 
    border-radius: 3px;
}
.orange{
    background-color: rgb(246, 83, 20)
}
.green{
    background-color: rgb(124, 187, 0)
}
.blue{
    background-color: rgb(0, 161, 241)
}
.yellow{
    background-color: rgb(255, 187, 0)
}